{% extends 'base.html' %}

{% block content %}

<h1>Countries</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <th></th>
        <th>Continent</th>
    </tr>
    {% for country in countries %}
    <tr>
        <td>{{ country.name }} </a></td>
        <td>|</td>
        <td>{{ country.continent }} <span class="editcountry"><a href="/countries/{{ country.id }}/edit">EDIT</a></span><span class="addcountry"><a href="/countries/new">ADD</span></td> 

    </tr>
    {% endfor %}
   
    
</table>

</div>

{% endblock %}