{% extends 'base.html' %}

{% block content %}

<h1>Countries</h1>

<table class="tablecountries">
    <tr>
        <th>Name</th>
        <th></th>
        <th>Continent</th>
        <th></th><th></th><th></th><th></th><th></th><th></th><th></th>
        
        
    </tr>
    {% for country in countries %}
    <tr>
        <td>{{ country.name }} </a></td>
        <td>|</td>
        <td>{{ country.continent }} </td>
        <td>|</td>
        <td><a href="/countries/{{ country.id }}/edit">EDIT</a></span></td>
        <td>|</td>
        <td><a href="/countries/new">ADD</span><td>
        <td>|</td>    
        <td><form action="/countries/{{ country.id }}/delete" method="POST">
        <input type="submit" value="delete"/></form></td> 

    </tr>
    {% endfor %}
   
    
</table>

</div>

{% endblock %}