body {
    background: url('/static/images/bg4.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}

.menu li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    
}

body > div > h1 {
    text-align: center;
    color: blue;
    text-decoration: underline;

}

.attraction_add {
    color: white;
}

.form-center {
    display: flex;
    justify-content:center;
    font-size: 20px;
}