.tablecountries {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    position:relative; top: 100px;

}

.tablecountries tr th {
    background-color: blue;
    color: white;
    text-align: left;
    font-weight: bold
}

.tablecountries tr {
    background-color: white;
    color: black;
    text-align: left;
    font-weight: bold
}

.tablecountries th,
.tablecountries td {
    padding: 12px 15px;
}

.tablecountries tr {
    border-bottom: 1px solid black;

}

.visited {
    min-width: 100px;
}

.tablethemepark{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    position:relative; top: 100px;

}

.tablethemepark tr th {
    background-color: blue;
    color: white;
    text-align: left;
    font-weight: bold
}

.tablethemepark tr {
    background-color: white;
    color: black;
    text-align: left;
    font-weight: bold
}

.tablethemepark th,
.tablethemepark td {
    padding: 12px 15px;
}

.tablethemepark tr {
    border-bottom: 1px solid black;

}

.tablethemeattractions {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    position:relative; top: 100px;

}

.tablethemeattractions tr th {
    background-color: blue;
    color: white;
    text-align: left;
    font-weight: bold
}

.tablethemeattractions tr {
    background-color: white;
    color: black;
    text-align: left;
    font-weight: bold
}

.tablethemeattractions th,
.tablethemeattractions td {
    padding: 12px 15px;
}

.tablethemeattractions tr {
    border-bottom: 1px solid black;

}

.tablevisited {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    position:relative; top: 100px;

}

.tablevisited tr th {
    background-color: blue;
    color: white;
    text-align: left;
    font-weight: bold
}

.tablevisited tr {
    background-color: white;
    color: black;
    text-align: left;
    font-weight: bold
}

.tablevisited th,
.tablevisited td {
    padding: 12px 15px;
}

.tablevisited tr {
    border-bottom: 1px solid black;

}

.tablewish {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    position:relative; top: 100px;

}

.tablewish tr th {
    background-color: blue;
    color: white;
    text-align: left;
    font-weight: bold
}

.tablewish tr {
    background-color: white;
    color: black;
    text-align: left;
    font-weight: bold
}

.tablewish th,
.tablewish td {
    padding: 12px 15px;
}

.tablewish tr {
    border-bottom: 1px solid black;

}

