.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;

}

.table tr th {
    background-color: blue;
    color: white;
    text-align: left;
    font-weight: bold
}

.table tr {
    background-color: white;
    color: black;
    text-align: left;
    font-weight: bold
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tr {
    border-bottom: 1px solid black;
}

