{% extends "base.html" %}

{% block content %}

<div class="form-center">

<form action="/attractions/{{attraction.id}}/edit" method="post">
    <div>
        <label for="Name">Name</label>
        <input type="text" id="name" name="name" value="{{ attraction.name }}" required autofocus oninput="this.value = this.value.toUpperCase()"/>
    </div>
    <div>
        <label for="Category">Category</label>
        <input type="text" id="category" name="category" value="{{ attraction.category }}" required oninput="this.value = this.value.toUpperCase()"/>
    </div>
    <div>
        <label for="theme_park">Theme Park:</label>
        <select id="theme_park" name="theme_park_id">
            {% for theme_park in theme_parks %}
            <option value= "{{ theme_park.id }}"
            {% if attraction.theme_park.id == theme_park.id %} selected="selected"{% endif %}>
            {{ theme_park.name }}
            </option>
            {% endfor %}
        </select>
        
    </div>
    
    <button type="submit">Update Theme Park</button>

</form>
</div>

{% endblock %}