{% extends 'base.html' %}

{% block content %}

<h1>ATTRACTIONS</h1>

<table class="tablethemeattractions">
    <tr>
        <th>Name</th>
        <th></th>
        <th>Category</th>
        <th></th><th></th>
        <th><a href="/attractions/new" style="color:white">ADD</a></th>
        <th></th>
    </tr>
    {% for attraction in attractions %}
    <tr>
        <td>{{ attraction.name }} </a></td>
        <td>|</td>
        <td>{{ attraction.category }}</td>
        <td>|</td>
        <td><a href="/attractions/{{attraction.id}}/edit">EDIT</a></td>
        <td>|</td>
        <td><form action="/attractions/{{ attraction.id }}/delete" method="POST">
            <input type="submit" value="delete"/></form></td> 

            
        
    </tr>
    {% endfor %}
</table>

</div>

{% endblock %}