{% extends 'base.html' %}

{% block content %}

<h1>Theme Parks</h1>

<table class="tablethemepark">
    <tr>
        <th>Name</th>
        <th></th>
        <th>Country</th>
        <th></th>
        <th>Visited</th>
        <th></th>
        <th><a href="/theme_parks/new" style="color:greenyellow">ADD</a></th>
        <th></th><th></th>
    </tr>
    {% for theme_park in theme_parks %}

    <tr>
        <td><a href="/theme_parks/{{ theme_park.id }}"> {{ theme_park.name }}</a></td>
        <td>|</td>
        <td>{{ theme_park.country.name }}</td>
        <td>|</td>
        <td>{% if theme_park.visited == True %}
          <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-times fa-2x" style="color: red" aria-hidden="true"></i>
        {% endif %}</td>
        <td>|</td>
        <td><span class="editthemepark"><a href="/theme_parks/{{ theme_park.id }}/edit">EDIT</a></span></td>
        <td>|</td>
        <td><span class="delethemepark"><form action="/theme_parks/{{ theme_park.id }}/delete" method="POST">
        <input type="submit" value="delete"/></form></td> 

    </tr>
    {% endfor %}
</table>

</div>

{% endblock %}