{% extends 'base.html' %}

{% block content %}

<h1>Theme Parks</h1>

<table class="tablet">
    <tr>
        <th>Name</th>
        <th></th>
        <th>Country</th>
        <th></th>
        <th>Visited</th>
        <th></th><th></th><th></th><th></th><th></th><th></th><th></th>
    </tr>
    {% for theme_park in theme_parks %}
    <tr>
        <td>{{ theme_park.name }}</td>
        <td>|</td>
        <td>{{ theme_park.country.name }}</td>
        <td>|</td>
        <td><div class="visited">{{ theme_park.visited }} </div></td>
        <td>|</td>
        <td><span class="editthemepark"><a href="/theme_parks/{{ theme_park.id }}/edit">EDIT</a></span></td>
        <td>|</td>
        <td><span class="addthemepark"><a href="/theme_parks/new">ADD</span><td>
        <td>|</td> 
        <td><span class="delethemepark"><form action="/theme_parks/{{ theme_park.id }}/delete" method="POST">
            <input type="submit" value="delete"/></form></td> 

    </tr>
    {% endfor %}
</table>

</div>

{% endblock %}