<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f664c11435.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <title>Theme Parks Holidays</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/countries">Countries</a></li>
                <li><a href="/theme_parks">Theme Parks</a></li>
                <li><a href="/attractions">Attractions</a></li>
                <li><a href="/wish_list">Wish List</a></li>
                <li><a href="/theme_parks/visited">Visited</a></li>
                <li><a href="/search">Search</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>